@import "scrollbar.css";
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

svg {
  vertical-align: initial;
}
.ant-modal-content{
  border-radius:6px;
}
/* transition fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
